<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Project_ManagerEntities" connectionString="metadata=res://*/Project_ManagerContext.csdl|res://*/Project_ManagerContext.ssdl|res://*/Project_ManagerContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=Project_Manager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>